.sign-up-page-child {
    position: absolute;
    top: 76px;
    left: 552px;
    box-shadow: 0px 4px 44px 11px rgba(0, 0, 0, 0.46);
    border-radius: 40px;
    background-color: #fff;
    width: 686px;
    height: 927px;
}
.sign-up-page-item {
    position: absolute;
    top: 823px;
    left: 733px;
    border-radius: 12.34px;
    background-color: #1685ca;
    width: 324px;
    height: 65.8px;
}
.registrarse {
    position: absolute;
    top: 847px;
    left: 795px;
    letter-spacing: 0.3em;
    color: #fff;
}
.regstrate {
    position: absolute;
    top: 112px;
    left: 778px;
    font-size: 54px;
}
.nombres-y-apellidos {
    margin-block-start: 0;
    margin-block-end: 77px;
}
.repetir-contrasea {
    margin: 0;
}
.nombres-y-apellidos-container {
    position: absolute;
    top: 212px;
    left: 609px;
    font-size: 30px;
    color: #8f8f8f;
    text-align: left;
}
.sign-up-page-inner {
    position: absolute;
    top: 250px;
    left: 604px;
    width: 582px;
    height: 2.1px;
    object-fit: contain;
}

.line-icon {
    color: black;
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow:hidden;
    height: 2.1px;
    object-fit: contain;
}

.sign-up-page-child1 {
    position: absolute;
    top: 464px;
    left: 604px;
    width: 582px;
    height: 2.1px;
    object-fit: contain;
}
.sign-up-page-child2 {
    position: absolute;
    top: 571px;
    left: 604px;
    width: 582px;
    height: 2.1px;
    object-fit: contain;
}
.sign-up-page-child3 {
    position: absolute;
    top: 679px;
    left: 604px;
    width: 582px;
    height: 2.1px;
    object-fit: contain;
}
.rectangle-div {
    position: absolute;
    top: 722px;
    left: 675px;
    border-radius: 6.25px;
    background-color: #fff;
    border: 0.6px solid #000;
    box-sizing: border-box;
    width: 27.5px;
    height: 27.5px;
}
.acepto-los-trminos-container {
    position: absolute;
    top: 724px;
    left: 719px;
    font-size: 20px;
    text-align: left;
}
.inicia-sesin {
    color: #1685ca;
}
.ya-eres-usuario-container {
    position: absolute;
    top: 925px;
    left: 732px;
}
.sign-up-page {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: 'Sulphur Point';
}