body {
    margin: 0;
    line-height: normal;
}
.hacer-reporte-child {
    position: absolute;
    top: 38px;
    left: 45px;
    width: 13px;
    height: 24px;
    object-fit: contain;
}
.hacer-reporte1 {
    position: absolute;
    top: 110px;
    left: 755px;
    font-size: 64px;
    text-align: center;
}
.hacer-reporte-item {
    position: absolute;
    top: 254px;
    left: 108px;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 636px;
    height: 58px;
}
.hacer-reporte-inner {
    position: absolute;
    top: 323px;
    left: 108px;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 636px;
    height: 58px;
}
.rectangle-div {
    position: absolute;
    top: 325px;
    left: 844px;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 936px;
    height: 58px;
}
.hacer-reporte-child1 {
    position: absolute;
    top: 392px;
    left: 844px;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 936px;
    height: 196px;
}
.hacer-reporte-child2 {
    position: absolute;
    top: 392px;
    left: 108px;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 636px;
    height: 58px;
}
.hacer-reporte-child3 {
    position: absolute;
    top: 461px;
    left: 108px;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 636px;
    height: 58px;
}
.hacer-reporte-child4 {
    position: absolute;
    top: 530px;
    left: 108px;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 636px;
    height: 58px;
}
.hacer-reporte-child5 {
    position: absolute;
    top: 254px;
    left: 844px;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 936px;
    height: 58px;
}
.nombre-completo {
    margin-block-start: 0;
    margin-block-end: 44.5px;
}
.n-de-documento {
    margin: 0;
}
.nombre-completo-correo-container {
    position: absolute;
    top: 273px;
    left: 129px;
    color: rgba(0, 0, 0, 0.5);
}
.tipo-de-delito {
    margin-block-start: 0;
    margin-block-end: 47.5px;
}
.tipo-de-delito-container {
    position: absolute;
    top: 272px;
    left: 869px;
    color: rgba(0, 0, 0, 0.5);
}
.tus-datos-sern-container {
    position: absolute;
    top: 620px;
    left: 127px;
    font-size: 18px;
}
.div {
    position: absolute;
    top: 545px;
    left: 1696px;
    font-size: 16px;
    font-family: Inter;
}
.hacer-reporte-child6 {
    position: absolute;
    top: 649px;
    left: 844px;
    border-radius: 6.25px;
    background-color: #fff;
    border: 0.6px solid #000;
    box-sizing: border-box;
    width: 27.5px;
    height: 27.5px;
}
.acepto-que-soy-container {
    position: absolute;
    top: 651px;
    left: 888px;
    font-size: 20px;
}
.hacer-reporte-child7 {
    position: absolute;
    top: 801px;
    left: 674px;
    border-radius: 17px;
    background-color: #1685ca;
    width: 572px;
    height: 90px;
}
.enviar {
    position: absolute;
    top: 822px;
    left: 843px;
    font-size: 52px;
    letter-spacing: 0.3em;
    color: #fff;
    text-align: center;
}
.hacer-reporte {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: 'Sulphur Point';
}

