body {
    margin: 0;
    line-height: normal;
}
.seguimiento-de-autoridad-child {
    position: absolute;
    top: 38px;
    left: 45px;
    width: 13px;
    height: 24px;
    object-fit: contain;
}
.seguimiento-de-reporte {
    position: absolute;
    top: 37px;
    left: 120px;
}
.seguimiento-de-autoridad-item {
    position: absolute;
    top: 174px;
    left: 110px;
    border-radius: 24px;
    background-color: #d9d9d9;
    width: 1700px;
    height: 136px;
}
.actualizacin-de-estado {
    margin-block-start: 0;
    margin-block-end: 14px;
}
.en-este-momento {
    margin: 0;
    font-size: 38px;
}
.actualizacin-de-estado-container {
    position: absolute;
    top: 198px;
    left: 141px;
    text-align: left;
    font-size: 30px;
}
.captura-de-pantalla-2024-04-14 {
    position: absolute;
    top: 328px;
    left: 110px;
    border-radius: 20px;
    width: 1700px;
    height: 713px;
    object-fit: cover;
}
.seguimiento-de-autoridad-inner {
    position: absolute;
    top: 496px;
    left: 120px;
    width: 964px;
    height: 310px;
}
.ellipse-div {
    position: absolute;
    top: 709px;
    left: 1077px;
    border-radius: 50%;
    background-color: #ff0000;
    width: 18px;
    height: 18px;
}
.seguimiento-de-autoridad {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    color: #000;
    font-family: 'Sulphur Point';
}

