
.email-logo {
    position: absolute;
    top: 38px;
    left: 52px;
    border-radius: 50%;
    background-color: #d10000;
    width: 48px;
    height: 48px;
}
.j {
    position: absolute;
    top: 43px;
    left: 69px;
    font-size: 32px;
    font-family: Inter;
    color: #fff;
    text-align: center;
}
.email {
    position: absolute;
    top: 50px;
    left: 113px;
    font-size: 20px;
    text-align: center;
}

.rectangulo1 {
    position: absolute;
    top: 160px;
    left: 190px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #d1e8ef;
    width: 192px;
    height: 190px;
}

.juan {
    position: absolute;
    top: 50px;
    margin: 0;
    font-size: 30px;
}
.bienvenido-juan {
    position: absolute;
    top: 155px;
    left: 210px;
    font-size: 23px;
}

.rectangulo2{
    position: absolute;
    top: 160px;
    left: 396px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #fff;
    width: 699px;
    height: 190px;
}
.rectangulo3 {
    position: absolute;
    top: 365px;
    left: 190px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #dffffd;
    width: 905px;
    height: 190px;
}

.img1 {
    position: absolute;
    top: 190px;
    left: 459px;
    width: 60px;
    height: auto;
}
.img2 {
    position: absolute;
    top: 190px;
    left: 599px;
    width: 60px;
    height: auto;
}
.img3 {
    position: absolute;
    top: 190px;
    left: 739px;
    width: 60px;
    height: auto;
}
.img4 {
    position: absolute;
    top: 190px;
    left: 879px;
    width: 60px;
    height: auto; 
}

/*Botones de enlace*/
.ver-mapa {
    position: absolute;
    top: 269px;
    left: 459px;
    text-align: center;
}
.reportar {
    position: absolute;
    top: 269px;
    left: 579px;
    text-align: center;
}
.ver-reportes {
    position: absolute;
    top: 269px;
    left: 729px;
    text-align: center;
}
.seguimiento {
    position: absolute;
    top: 269px;
    left: 859px;
    text-align: center;
}


/*ultimo cuadrado union*/
.Subtitulo-Noticia{
    position: absolute;
    top: 381px;
    left: 215px;
    font-size: 19px;
}
.localidad {
    position: absolute;
    top: 385px;
    left: 888px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.59);
}
.news {
    margin: 0;
    font-weight: 500;
}
.fecha {
    margin: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.53);
}
.CONTNOTICIA1 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.CONTNOTICIA2 {
    position: absolute;
    top: 0px;
    left: 270px;
}
.CONTNOTICIA3 {
    position: absolute;
    top: 0px;
    left: 540px;
}
.noticias {
    position: absolute;
    top: 420px;
    left: 215px;
    width: 995px;
    height: 160px;
    font-size: 15px;
    font-family: Roboto;
}

.fondo{
    min-height:100vh;
    background:url(fondo.png) no-repeat center center fixed;
    background-size: cover;
}
